.diagramaFlujo{
  display: flex;
  justify-content: center;
}

.nodo{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.conectorPadre{
  border-left: 1px solid black;
  height: 100%;
}

